.container {
	border-top:1px solid black;
	border-left:1px solid black;
	margin: auto;
	margin-top: 10px;
}

.container:after {
	visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}

.square {
	width: 9px;
	height:9px;
	float: left;

	border-right:1px solid black;
	border-bottom:1px solid black;
}